<nav>
<atoms-link></atoms-link>
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <atoms-link linkText="Login" linkUrl="/login">  <atoms-icon iconClass="glyphicon" iconName="glyphicon-envelope"> </atoms-icon>  </atoms-link>
    </li>
    <li class="nav-item">
        <atoms-link linkText="Register" linkUrl="/Register">  <atoms-icon iconClass="glyphicon" iconName="glyphicon-plane"> </atoms-icon>   </atoms-link>
    </li>
    <li class="nav-item">
        <atoms-link linkText="About" linkUrl="/About"> <atoms-icon iconClass="glyphicon" iconName="glyphicon-heart"> </atoms-icon></atoms-link>
    </li>
    <li class="nav-item">
        <atoms-link linkText="Dashboard" linkUrl="/Dashboard"> <atoms-icon iconClass="glyphicon" iconName="glyphicon-star"> </atoms-icon>  </atoms-link>
    </li>
  </ul>
</nav>