body {
  margin: 0;
  padding: 0;
  color: white;
  background: #d1d1d1;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  height: 50px;
  width: 100%;
  background-color: #111111;
}

nav a {
  line-height: 50px;
  margin-left: 5%;
  font-size: 16pt;
}

nav input {
  margin-left: 2%;
  border: none;
  border-radius: 2px;
  height: 28px;
  padding-left: 10px;
}

button {
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  width: 100px;
  border-radius: 2px;
}