body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: #111111;
}

a {
  text-decoration: none;
  color: #ffffff;
}

nav {
  height: 50px;
  width: 100%;
  background: linear-gradient(to right,#af2024 0,#7a0e10 100%);
}

nav a {
  line-height: 50px;
  margin-left: 5%;
  font-size: 16pt;
}

nav input {
  margin-left: 2%;
  border: none;
  border-radius: 2px;
  height: 28px;
  padding-left: 10px;
}

button {
  height: 30px;
  background-color: #bdc3c7;
  color: #111;
  border: none;
  width: 100px;
  border-radius: 2px;
  font-weight: bold;
}

h3{
  color:#ffffff;
}

h5{
  float:left;
}

hr{
  width:100%;
}